---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

const posts = (await getCollection('posts')).sort(
  (a, b) =>
    new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
);
---

<BaseLayout title="All Posts">
  <h1>All posts</h1>

  <div class="post-list">
    {
      posts.map((post) => (
        <div class="post-item">
          <a href={`/posts/${post.id}`} class="post-title">{post.data.title}</a>
          <div class="post-subtitle">
            {post.data.author && <span>{post.data.author} &middot; </span>}
            <span>{new Date(post.data.date).toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' })}</span>
            {post.data.tags && <span> &middot; {post.data.tags.join(', ')}</span>}
            {post.data.description && <br />}
            {post.data.description && <span>{post.data.description}</span>}
          </div>
        </div>
      ))
    }
  </div>
</BaseLayout>
